<div class="col-md-6 col-sm-6 col-xs-12 col-xxs-12">
	<%= link_to raw("<i class='fa #{button_icon}'></i>
		<span class='small'>Download on the</span>
		<span class='big'>#{store_name}</span>"), 
		store_link, 
		:target => "_blank", 
		class: 'btn btn_app_store' %>
</div>
      
      
      