<div class="col-md-6 col-sm-6 col-xs-12 col-xxs-12">
	<%= link_to raw("<i class='fa #{app_button_info['button_icon']}'></i>
		<span class='small'>Download on the</span>
		<span class='big'>#{app_button_info['store_name']}</span>"), 
		app_button_info['store_link'], 
		:target => "_blank", 
		class: 'btn btn-app-store' %>

</div>
      
      
      