<div class="col-md-4 col-sm-4 col-xs-12">
    <%= image_tag("#{img_src}", 
            size: "#{width}x#{height}", 
            :alt => "#{img_alt}",  
            class: "azula_img") %>
</div>     