<footer>
    <div class="container-fluid">
        <div class="row">
           <div class="col-md-6 col-sm-6 col-xs-7 col-xxs-12">
               <p class="copyright">&copy; Sarah Monks <%= Date.current.year %></p>
           </div>
           <div class="col-md-offset-3 col-md-3 col-sm-6 col-xs-5 col-xxs-12">
               <ul class="social_media_list">
                   <li><%= link_to raw("<i class='fa fa-github'></i>"), "https://github.com/sarahmonks", :target => "_blank", class: 'social_media_button' %></li>
                   <li><%= link_to raw("<i class='fa fa-linkedin'></i>"), "https://www.linkedin.com/in/sarah-monks-3191885/", :target => "_blank", class: 'social_media_button' %></li>          
               </ul>
           </div>
        </div>
    </div>
</footer>
      
      