/************************************************button styling**********************************************/
.btn {
padding: 10px 20px;
border: 0 none;
font-weight: bold;
letter-spacing: 1px;
text-transform: uppercase;
background: none !important;
transition: all 0.2s ease;	
}

.btn_blue {
color: #f1f3f3;
border: 2px solid #0088fc;
background-color: none;
}
.btn_blue.btn_blue_text {
color: #0088fc !important;
}

.btn_blue:hover {
background: #0088fc !important;
color: #fff !important;
border-color: #0088fc;  
box-shadow: 0px 0px 0px 2px #fff inset; 
transition: all 0.2s ease;	
}
.btn_yellow{
color: #f1f3f3;
border: 2px solid #f9f604;
background-color: none;
}
.btn_yellow:hover {
background: #f9f604 !important;
color: #3e3e3e !important;
border-color: #f9f604;  
box-shadow: 0px 0px 0px 2px #b4b200 inset; 
transition: all 0.2s ease;	
}
.btn_submit{
float: right;
}
#scroll_down{
margin-top: 20px;
text-align: center;
}
.extra_margin{
margin: 5px 8px;	

}

/*********************************************app store buttons*******************************/
.btn_app_store{
	margin: 10px 0 16px 0;
	color: white;
	position: relative;
	padding-left: 55px;
	padding-right: 20px;
	border:2px solid #0088fc!important;
	border-radius: 8px;
}
.btn_app_store:hover{
  	background: #0088fc !important;
  	color: #fff;
  	border-color: #0088fc;
  	transition: all 0.2s ease;	
  	box-shadow: 0px 0px 0px 2px #333 inset, 0px 0px 0px 3px #fff inset;	
}
.btn_app_store i {
    font-size: 40px;
    position: absolute;
    left: 11px;
    top: 7px;
}
.btn_app_store .small{
	display: block;
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 4px;
   	margin-top: 3px;
    font-weight: 400;
}
.btn_app_store .big{
	display: block;
	text-align: left;
	font-size: 19px;
	line-height: 21px;
	font-weight: bold;
}